@CHARSET "UTF-8";
.menu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	}
.menu ul{
	background:#1E90FF;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	font-weight:bold;
}

.menu li{
		float:left;
		padding:0px;
		font-weight:bold;
		}
		
.menu li a{
		background:#1E90FF;
		color:#cccccc;
		display:block;
		line-height:35px;
		margin:0px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		font-weight:bold;
}
.menu li a:hover, .menu ul li:hover a{
			background: #87CEFA;
			color:#FFFFFF;
			text-decoration:none;
			font-weight:bold;
}
.menu li ul{
		background:#1E90FF;
		display:none;
		height:auto;
		padding:0px;
		margin:0px;
		border:0px;
		position:absolute;
		width:200px;
		z-index:200;
		font-weight:bold;
		/*top:1em;
		/*left:0;*/
}

.menu li:hover ul{
		display:block;
}

.menu li li {
		background: #1E90FF;
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:200px;
		font-weight:bold;
}

.menu li:hover li a{
		background:none;
}
	
.menu li ul a{
		display:block;
		height:35px;
		font-size:12px;
		font-weight:bold;
		margin:0px;
		padding:0px 10px 0px 15px;
		text-align:left;
}
		
.menu li ul a:hover, .menu li ul li:hover a{
		background:#87CEFA;
		border:0px;
		color:#ffffff;
		text-decoration:none;
		font-weight:bold;
}

.menu p{
		clear:left;
}	