*.swg
*.a
*.la
*.pyo
*.pyc
*.so
*.so.*
*.o
*.btr
external/lib
external/include
external/lib64
external/shared
pytomc/swigModules/
bin/pytom
bin/ipytom
bin/paths.csh
external/src/nfft-3.1.3
external/src/mpi4py
external/share
pytomc/nufft/mkswig.sh
pytomc/sh_alignment/SpharmonicKit27/CONV_HYBRID_DISK
pytomc/sh_alignment/SpharmonicKit27/CONV_HYBRID_MEMO
pytomc/sh_alignment/SpharmonicKit27/CONV_SEMI_DISK
pytomc/sh_alignment/SpharmonicKit27/CONV_SEMI_FLY
pytomc/sh_alignment/SpharmonicKit27/CONV_SEMI_MEMO
pytomc/sh_alignment/SpharmonicKit27/FST_precomp2disk
pytomc/sh_alignment/SpharmonicKit27/test_FST_hybrid_disk
pytomc/sh_alignment/SpharmonicKit27/test_FST_hybrid_memo
pytomc/sh_alignment/SpharmonicKit27/test_FST_hybrid_memoX
pytomc/sh_alignment/SpharmonicKit27/test_FST_semi_disk
pytomc/sh_alignment/SpharmonicKit27/test_FST_semi_fly
pytomc/sh_alignment/SpharmonicKit27/test_FST_semi_memo
pytomc/sh_alignment/SpharmonicKit27/test_flt_classic
pytomc/sh_alignment/SpharmonicKit27/test_flt_dhmid
pytomc/sh_alignment/SpharmonicKit27/test_flt_hybrid
pytomc/sh_alignment/SpharmonicKit27/test_naive
pytomc/sh_alignment/SpharmonicKit27/test_semi
pytomc/sh_alignment/SpharmonicKit27/test_stability_naive
