*.swg
*.a
*.la
*.pyo
*.pyc
*.so
*.so.*
*.o
*.btr
*.Plo
*.Po


# ignore .idea folder
.idea


# ignore built pytom files
/pytom/bin/paths.sh
build
*.egg-info


# external stuff
pytom/external/lib/
pytom/external/include/
pytom/external/lib64/
pytom/external/shared/
pytom/external/src/nfft-3.1.3/*
pytom/external/src/mpi4py/
pytom/external/share
pytom/external/src/nfft-3.1.3/3rdparty/


# pytomc compiled stuff
pytom/bin/pytom
pytom/bin/ipytom
pytom/bin/paths.csh
pytom/bin/pytomGUI

pytom/pytomc/swigModules/
pytom/pytomc/nufft/mkswig.sh
pytom/pytomc/sh_alignment/frm/swig/
pytom/pytomc/sh_alignment/SpharmonicKit27/CONV_HYBRID_DISK
pytom/pytomc/sh_alignment/SpharmonicKit27/CONV_HYBRID_MEMO
pytom/pytomc/sh_alignment/SpharmonicKit27/CONV_SEMI_DISK
pytom/pytomc/sh_alignment/SpharmonicKit27/CONV_SEMI_FLY
pytom/pytomc/sh_alignment/SpharmonicKit27/CONV_SEMI_MEMO
pytom/pytomc/sh_alignment/SpharmonicKit27/FST_precomp2disk
pytom/pytomc/sh_alignment/SpharmonicKit27/test_FST_hybrid_disk
pytom/pytomc/sh_alignment/SpharmonicKit27/test_FST_hybrid_memo
pytom/pytomc/sh_alignment/SpharmonicKit27/test_FST_hybrid_memoX
pytom/pytomc/sh_alignment/SpharmonicKit27/test_FST_semi_disk
pytom/pytomc/sh_alignment/SpharmonicKit27/test_FST_semi_fly
pytom/pytomc/sh_alignment/SpharmonicKit27/test_FST_semi_memo
pytom/pytomc/sh_alignment/SpharmonicKit27/test_flt_classic
pytom/pytomc/sh_alignment/SpharmonicKit27/test_flt_dhmid
pytom/pytomc/sh_alignment/SpharmonicKit27/test_flt_hybrid
pytom/pytomc/sh_alignment/SpharmonicKit27/test_naive
pytom/pytomc/sh_alignment/SpharmonicKit27/test_semi
pytom/pytomc/sh_alignment/SpharmonicKit27/test_stability_naive

# compiled docs
doc/epydoc/
