[submodule "external/src/voltools"]
	path = external/src/voltools
	url = https://github.com/the-lay/voltools.git
[submodule "external/src/mpi4py"]
	path = external/src/mpi4py
	url = https://github.com/mpi4py/mpi4py
