.Header {
	color: #09F;
	font-size: xx-large;
}

h2{
	border: 1px dotted #CCCCCC;
	background-color: #DFDFFF;
	margin: 4px 8px 4px 2px;
	padding: 4px 6px;
	font-size: 20pt;
}

h3{
	border: 1px dotted #CCCCCC;
	background-color: #FAFAFA;
	margin: 4px 8px 4px 2px;
	padding: 4px 6px;
	font-size: 16pt;
}

li{
	margin:0 10px 10px 0;
}

div.codeFragment {
	border: 1px solid #C4CFE5;
	background-color: #FBFCFD;
	padding: 4px 6px;
	margin: 4px 8px 4px 2px;
	overflow: auto;
	word-wrap: break-word;
	font-size: 9pt;
	line-height: 125%;
}

.textBody{
	align:justify;
}